<header>
   <div class="card">
    <div>
        <p>{{ pageTitle }}</p>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/felnott.jpg"
               class="img-responsive center-block"
               style="width: 200px;margin: auto,20px,auto;height: 200px;padding-bottom:50px" />
        </div>
    </div>
    <router-outlet></router-outlet>
    
        <div class="text-center">Készítette:</div>
        <div class="text-center">
          <h3>Tóthné Pásztor Mónika</h3>
        </div>
        <div><a href="tel:+36/60-123-4567">Telefonon is elérsz</a></div>
        <div><a href="http://wwww.valaki.hu">Menj a weblapomra</a></div>
        <div>
            <a href="mailto:kaciga@xymail.com">Küldj egy emailt anyának</a>
        </div>
        <div><a href="http://facebook.com/kaciga">Arckönyvem</a></div>
        <div class="text-center"><a href="http://instagram.com/kaciga">@kaciga</a></div>
        <div class="text-center">
          <a href="http://github.com/kaciga">gitHub</a>om
        </div>
      </div>
    </div>
</header>
    