<div class="form">
    <form action ="todoForm"><h2>Napi teendőink:</h2></form>
    <div class="form" [ngStyle]="{'text-align': 'center'}">
        <label for="text">
            <div>Feladatok:</div>
        </label>
        <input type="text" name="feladat" id="1" placeholder="feladat"/>
        <pm-add-button color="green" text="Add" (buttonClick)="toggleAddTodo()"></pm-add-button>
        <button (click)='onBack()'>Vissza</button>
        <!-- <a *ngFor="let todo of filteredTodos" [todo]="todo">j</a> -->
    
    </div>
</div>
<!-- <pm-table [ngStyle]="{'text-align': 'center'}"></pm-table> -->
<!-- ez itt nem lista, megtévesztő a componens neve -->