<header>
    <h1>Katt ide a welcome-hoz:
            <a href="/header">
                <h1>{{ pageTitle }}!</h1>
            </a>
    </h1><router-outlet></router-outlet>

    <!-- <p>ide még kellene egy vissza gomb+routing a <button>Vissza</button></p>
        /headerből a welcomba-->
    <p>Itt <a href="/table"><span>keress</span></a> a teendők között</p><router-outlet></router-outlet>
       
    <!-- /table ből a welcomba visszagomb -->

    <p>Itt pedig hozzá tudod <a href="/todos"><span>adni</span></a> a saját teendőidet.</p><router-outlet></router-outlet>
    <!-- /todos ből a welcomba visszagomb -->

</header>        
