<div class="crop"
    [style.width.px]="cropWidth"
    [title]="rating"
    (clik)='onClick()'>
    <div style="width: 75px">
        <span class="fa fa-star"><fa-icon [icon]= "faStar"></fa-icon>
        </span>
        <span class="fa fa-star"><fa-icon [icon]= "faStar"></fa-icon>
        </span>
        <span class="fa fa-star"><fa-icon [icon]= "faStar"></fa-icon>
        </span>
        <span class="fa fa-star"><fa-icon [icon]= "faStar"></fa-icon>
        </span>
        <span class="fa fa-star"><fa-icon [icon]= "faStar"></fa-icon>
        </span>
    </div>
</div>
