table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
thead, tr, td {
    border: 2px solid rgb(68, 58, 58);
    background-color: lightcoral;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}
h3, h4, input {
    margin-top: 20px;
    color: blueviolet;
}
th, td {
    text-align: center;
    width: 90px;
}
thead:first-child {
    color: rgb(125, 20, 223);
    line-height: 2;
    font-size: larger;
    text-align: center;
    margin-top: 20px;
}
span, .numeric{
    color: black;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}
th {
    border: 2px solid blueviolet;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}
button {
    /*visszagomb szín: rgb(138, 43, 226, 1);*/
    border-color: rgb(66, 12, 66);
    height: 35px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    justify-content: center;
}
a {
    color: blueviolet;
    margin-top: 20px;
}
td > fa-icon {
    border: 2px solid rgb(125, 20, 223);
    padding: 3px;
    width: 30px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    align-items: center;
}
tbody {
    width: 864px;
    background-color: lightcoral;
}
